.first-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  ol,
  a,
  p {
    margin: 0;
  }
  ul,
  ol {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  .img-fluid {
    width: 100%;
    height: 100%;
  }
  .d-flex {
    display: flex;
  }
  .d-grid {
    display: grid;
  }
  .b-none {
    border: none !important;
  }
  .d-lg-none {
    display: none;
  }
  .container {
    max-width: 1060px;
    margin: 0 auto;
  }
  .bg {
    background-color: black;
  }
  .t-t {
    text-transform: capitalize;
  }
  .t-center {
    text-align: center;
  }
  .links-bg {
    background-color: #e6533c;
  }

  #header {
    padding: 58px 0 0 0;
    background: linear-gradient(
      180deg,
      rgb(26 26 26) 0%,
      rgb(74 74 74) 50%,
      rgb(10 10 10) 100%
    );
  }
  #navbar {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }
  .page-logo a {
    font-weight: 800;
    font-size: 2.25rem;
    color: #e6533c;
  }
  .nav-list {
    border: 1px solid rgb(114 107 107);
    padding: 4px;
    border-radius: 40px;
    gap: 47px;
  }
  .nav-list .nav-item {
    padding: 8px 20px;
    transition: all ease-in-out 0.5s;
  }
  .nav-list .nav-item:hover {
    background-color: #e6533c;
    border-radius: 45px;
  }
  .nav-list .nav-uni {
    border-radius: 46px;
  }
  .nav-list .nav-item .nav-links {
    font-size: 1.125rem;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
  }
  .banner{
    gap: 160px;
    justify-content: space-between;
  }
  .banner-text-container{
    max-width: 530px;
    margin-top: 65px;
  }
  .banner-text-container h3 {
    font-size: 4.875rem;
    font-weight: 900;
    color: #fff;
    line-height: 94px;
  }
  .banner-text-container .text-change {
    font-family: "Fleur De Leah", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    text-transform: none;
    font-size: 9.375rem;
    margin-right: 15px;
  }
  .banner-text-container p {
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    margin: 30px 0;
    letter-spacing: 0.5px;
    line-height: 24px;
  }
  
  .btn a {
    font-size: 1.125rem;
    font-weight: 600;
    color: #fff;
    border: 1px solid #fff;
    padding: 16px 48px;
    border-radius: 50px;
    display: inline-block;
    text-align: center;
    transition: background-color 0.4s ease-in-out, border 0.4s ease-in-out;
  }
  .banner-text-container .btn .join-links {
    border: 1px solid transparent;
  }
  .banner-btn {
    display: flex;
    gap: 15px;
    max-width: calc(100% - 70px);
  }
  .banner-btn a{
    flex: 1;
  }
  
  .banner-img-container{
    max-width: 370px;
    flex-grow: 1;
    position: relative;
  }
  .banner-img-container img{
    object-fit: cover;
  }